@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeon+Sung&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu-link,
.logo {
    font-family: "Yeon Sung";
}

.container {
    width: 1140px;
    margin: auto;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 0 0;
}

div#navIcon {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* div#navIcon .line {
    width: 35px;
    height: 4px;
    background: rgb(148, 102, 234);
} */
#navIcon::before{
    content: '';
    width: 35px;
    height: 4px;
    background: rgb(148, 102, 234);
    box-sizing: border-box;
    transform: translateY(-10px);
    box-shadow: 0 12px #ff618a;
    transition: 0.4s ease;
}
#navIcon.active::before{
    transform: translateY(0px) rotate(-45deg);
    box-shadow: none;
    transition: 0.4s ease;
}

#navIcon::after{
    content: '';
    width: 35px;
    height: 4px;
    background: rgb(148, 102, 234);
    transform: translateY(10px);
    transition: 0.4s ease;
}
/* div#navIcon div:nth-child(2) {
    background: rgb(255, 117, 153);
} */

#navIcon.active::after{
    transform: translateY(-4px) rotate(45deg);
    background: #ff618a;
    transition: 0.4s ease;
}

h1.logo {
    font-size: 4.5rem;
    color: rgb(148, 102, 234);
    font-family: 'YEON SUNG';
}

h1.logo span {
    font-size: 2.5rem;
    color: #ff7599;
    font-family: 'Yeon Sung';
}

ul.menu-item {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

a.menu-link {
    text-decoration: none;
    font-size: 26px;
    color: #7d37b3;
    transition: all 0.4s ease 0s;
    font-family: 'Poppins';
}

li.menu-list {
    margin-left: 35px;
}

.nav-popup-menu {
    position: relative;
    /* width: 95%; */
}

.barnd-nav {
    display: none;
}

a.menu-link:hover {
    color: #fd5f88;
}

a#active {
    color: #fd5f88;
}

.home-content-wrapper {
    /* display: flex; */
    width: 100%;
    height: 70vh;
    /* flex-direction: column; */
    /* align-items: center; */
    /* position: relative; */
    box-sizing: border-box;
}

img.home-image {
    display: none;
    object-fit: cover;
    width: 613px;
    height: 744px;
    border-radius: 20px;
    margin: 40px 0px 0px auto;
}

.home-content {
    display: flex;
    flex-direction: column;
    width: 707px;
    min-height: 689px;
    /* margin: -740px auto 82px 97px; */
}

.text-content h2 {
    font-size: 7.5rem;
    color: rgb(148, 102, 234);
    font-family: 'RALEWAY';
}

.text-content p {
    font-size: 1.30rem;
    margin: 50px 335px 0 0;
    font-weight: 500;
    line-height: 2;
    font-family: 'RALEWAY';
}

.download-btn,
.more-us {
    display: inline-block;
    letter-spacing: 1px;
    text-shadow: 0 0 0 rgb(0 0 0 / 0%);
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;
    border-style: none;
    margin: 39px auto 0 0;
    padding: 15px 70px;
    background: #ff7599;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: 0.4s ease;
}

.download-btn:hover {
    background: rgb(148, 102, 234);
}

.element2wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    margin: 60px 0 50px 50px;
    flex-wrap: wrap;
}

.left-content {
    width: 403px;
    min-height: 911px;
    height: auto;
    background: #9466ea;
    border-radius: 20px;
}

.right-content {
    width: 575px;
}

.info-content {
    display: flex;
    flex-direction: column;
    padding: 45px 40px 30px;
    justify-content: center;
    color: #fff;
}

.info-content h6 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    margin: 40px 0 0;
    font-weight: 400;
    font-family: 'Open Sans';
}

.info-content p,
a {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1;
    margin: 12px 0 0;
    text-decoration: initial;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.social-icon {
    height: 50px;
    margin-top: 15px;
}

.social-icon a {
    margin-right: 35px;
    font-size: 25px;
}

.heading-number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 414px;
    grid-gap: 32px;
}

.numbers {
    display: flex;
    flex-basis: 42%;
    flex-direction: column;
    padding: 20px 0px 20px 30px;
    text-align: center;
}

.numbers h3 {
    font-size: 72px;
    font-family: 'Montserrat';
    color: #ff7599;
    padding-bottom: 30px;
    text-shadow: 1px 1px 1px #70707096;
}

.numbers p {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #9466ea;
    letter-spacing: 2px;
}

.bottom-content h2 {
    font-size: 36px;
    font-family: 'Open Sans';
    color: #9466ea;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 50px;
}

.bottom-content p {
    font-size: 16px;
    font-family: 'Poppins';
    margin-top: 30px;
    line-height: 2;
    color: #9466ea;
    /* width: 95%; */
}


/* button.more-us {
    letter-spacing: 1px;
    text-shadow: 0 0 0 rgb(0 0 0 / 0%);
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;
    border-style: none;
    margin: 39px auto 0 0;
    padding: 14px 73px 15px 71px;
    background: #ff618a;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: 0.4s ease;
} */

button.more-us:hover {
    background: #9466ea;
}

.info-content a:hover {
    color: #221d1d;
    /* text-shadow: 1px 1px 3px #00000080; */
}

.side-menu-slide {
    position: absolute;
    top: 0;
    left: 0;
}

.side-menu {
    width: 100%;
    height: 100vh;
}

header.top-header {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 2;
}
.nav-icon {
    margin-right: 10px;
}

.image {
    max-width: 150px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-image: url(./images/WhatsApp\ Image\ 2021-12-24\ at\ 7.24.10\ AM.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    border: 16px solid #fff;
    display: none;
}
.aboutHeading h2 {
    text-align: center;
    font-family: 'Raleway';
    color: #9466ea;
    padding-bottom: 40px;
    font-size: 45px;
    text-shadow: -1px -1px 1px #727272;
}
section#about {
    display: block;
    padding-top: 200px;
}

.elememt3 {
    padding-top: 150px;
}
section#home {
    padding-top: 150px;
}
.barnd-logo {
    margin-left: 20px;
}



/* Skill Element */


.skills_content_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.skill_persentage_content {
    display: flex;
    flex-direction: column;
}

.skill_box {
    width: 100%;
    height: 37px;
    background: #895bdf70;
    border-radius: 20px;
    border: 1px solid #6a3cc0;
}

.got_skill {
    display: flex;
    align-items: center;
    background: #9466ea;
    box-shadow: inset 0px 0px 20px 4px #5729ad;
    width: 70%;
    border-radius: 20px;
    height: 35px;
    transition: 0.4s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
h4.skill_name {
    font-size: 24px;
    color: #ff7599;
    font-family: 'Raleway';
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.skill_heading h2 {
    position: relative;
    text-align: center;
    font-family: 'Raleway';
    color: #9466ea;
    padding-bottom: 40px;
    font-size: 45px;
    text-shadow: -1px -1px 1px #727272;
    top: -60px;
}

.skill_heading p {
    display: none;
    font-size: 24px;
    font-family: 'Poppins';
    text-align: center;
    color: #ff618a;
    position: relative;
    bottom: -174px;
}

.skill_heading {
    width: 65%;
    margin: auto;
}

.skill_heading hr {
    border: none;
    background: #e1f3ff;
    height: 5px;
    position: relative;
    bottom: -406px;
}

.got_skill span {
    color: #82e2fa;
    font-family: 'Poppins';
    margin: auto;
}

div#html {
    width: 95%;
}

div#css {
    width: 85%;
}

div#javascript {
    width: 65%;
}

div#bootstrap {
    width: 75%;
}

div#responsive {
    width: 85%;
}



















/* animation
.top-header,#home{
    animation-name: header;
    animation-duration: 2s;
}
@keyframes header {
    from{margin-top: -100px;}
    to{margin: 0px;}
    
}
section#skills,#about {
    animation-name: section;
    animation-duration: 2s;

}
@keyframes section{
    from{margin-top: 500px;}
    to{margin-top: 0px;}

} */
.got_skill{
    animation-name: skills;
    animation-duration: 5s;
}
@keyframes skills {
    from {width: 10%;}
    to {width: fix-content;}
}

html{
    scroll-behavior: smooth;
}
.skill_heading{
    background-image: url(./images/ffffff.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.backItem{
    background-image: url(./images/Untitled-1-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 900px;
    height: 500px;
    position: absolute;
    top: 280px;
    z-index: -100;
    right: 15%;
}
.my-image{
    background-image: url(./images/WhatsApp\ Image\ 2021-12-24\ at\ 7.24.10\ AM.jpeg);
    width: 410px;
    height: 410px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: -1px 3px 7px #898989;
    margin: auto;
    margin-bottom: 15%;
}
.bottom-content {
    width: 95%;
}